{% extends "website/base.html" %}
{% block content %}
<div class="container">
  <div class="container card my-2">
    <div class="card-body">
      <h1>FAQ</h1>
    </div>
  </div>
  <div class="container card my-2">
    <div class="card-body">
      <h4>What is Neddit and how do I use it?</h4>
      <p>
        Neddit is an online community for UNSW students to share notes, collaborate,
        ask questions, discuss courses and support each other in each course.
        It is a crowdsourcing platform where students can upload their own notes
        and provide helpful advice for others. Courses are split by sections known
        as "subneddits". Users can post notes and create discussions in each
        subneddit. Each post can be voted up if a user feels it is helpful, and
        voted down otherwise. These are called "upnote" and "downnote" respectively.
        The higher amount of votes a post has, the more visibility it gets.
      </p>

      <h4>How do I report abuse or plagiarised work?</h4>
      <p>
        Each subneddit will have admins in change of monitoring all the posts.
        Neddit has a strict policy on plagiarism and all offences should be
        reported to the moderators of the relevant subreddit, found in the sidebar.
      </p>

      <h4>Can I advertise my private services (e.g. tutoring, textbook selling)
      on Neddit?</h4>
      <p>
        No. Neddit is primarily focused on online collaboration and notesharing.
        We do not facilitate the exchange of goods or services. For such activities,
        please seek other available platforms online.
      </p>
      <p><i>
        For further support, contact the course subneddit's moderator or
        email us at <a href="mailto:support@neddit.com.au">support@neddit.com.au</a>.
      </i></p>
    </div>
  </div>
</div>
{% endblock %}
