{% extends "website/base.html" %}
{% block content %}
<div class="container">
  <div class="card my-2">
    <div class="card-body">
      {% if user.is_authenticated %}
      <h2>Welcome back {{ user.username }}!</h2>
      {% else %}
      <h2>Welcome to Neddit!</h2>
      {% endif %}
    </div>
  </div>
  <div class="card my-2">
    <div class="card-body">
      <p>Posts will go here</p>
    </div>
  </div>
  <div class="card my-2">
    <div class="card-body">
      <p>Another post will go here</p>
    </div>
  </div>
</div>

{% endblock %}
