{% extends "website/base.html" %}
{% block content %}
<div class="container">
  <div class="row">
    <div class="col-sm">
      <div class="card my-2">
        <div class="card-body">
          <h4 class="display-4">{{ subneddit.name }}</h4>
          <h4><a href="{% url 'website:subneddit' sub_id=subneddit.id %}">
            n/{{ subneddit.id }}
          </a></h4>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-8">
      {% block subneddit_content %}{% endblock %}
    </div>
    <div class="col-sm-4"> <!-- Sidebar -->
      <div class="card my-2">
        <div class="card-body">
          <a href="{% url 'website:newpost' sub_id=subneddit.id %}" class="btn btn-primary btn-block">
            Create New Post</a>
            <br/>
          <h4>Sidebar</h4>
          {% if subneddit.sidebar %}
            {{ subneddit.sidebar|linebreaks }}
          {% else %}
            Nothing to see here.
          {% endif %}
        </div>
      </div>
    </div>
  </div>

</div>

{% endblock %}
